.allMessagesWEB{
    height: -webkit-fill-available;
}
.cardMsgContactWEB{
    width: 50%;
    margin: 1rem;
    float: left;
}  
@media only screen and (max-width: 800px) {
    .cardMsgContactWEB{
        width: -webkit-fill-available;
        margin-right: 1rem;
    }
}  