<mat-tab-group class="allMessagesWEB">
    <mat-tab label="Sin responder"> 
         <mat-card class="cardMsgContactWEB" *ngFor="let cct of listWebCct">
            <mat-card-title>
                {{cct.assunt}}
            </mat-card-title>
            <mat-card-content>
                  {{cct.comment | slice:0:100}}...
            </mat-card-content>
            <mat-card-actions align="right">
                <button mat-button color="accent" (click) = "openViewMsgWeb(cct,true)">Ver</button>
            </mat-card-actions>
         </mat-card>
    </mat-tab>
    <mat-tab label="Respondidos">
        <mat-card class="cardMsgContactWEB" *ngFor="let cview of readWebcct">
            <mat-card-title>
                 {{cview.assunt}}
            </mat-card-title>
            <mat-card-content>
                   {{cview.comment | slice:0:100}}...
            </mat-card-content>
            <mat-card-actions align="right">
                <button mat-button color="accent" (click) = "openViewMsgWeb(cview,false)">Ver</button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
</mat-tab-group>