.btnEmailc{
    text-align: right;
    margin-top: 2rem;
    margin-right: 0.5rem;
}
.subTitle{
    margin-top: -1rem;
}
.btnAppEm{
    text-align: right;
}
.inputAnswerS{
    width: 100%;
    margin-top: 0.5rem;
} 

@media only screen and (max-width: 800px) {
    .subTitle{
        margin-top: 0rem;
    }
}