<mat-sidenav-container class="sidenavStyle" (backdropClick)="onClickData()">
    <mat-sidenav #sidenav  (keydown.escape)="onClickData()" disableClose>
      <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item (click) = "onClickData('/')"> <img src="https://img.icons8.com/wired/30/000000/home.png"> Inicio</a>
          <mat-divider></mat-divider>
          <a mat-list-item (click) = "onClickData('informationsWEB')"><img src="https://img.icons8.com/dotty/30/000000/webpage.png"> Informacion WEB</a>
          <a mat-list-item (click) = "onClickData('galeria')" > <img src="https://img.icons8.com/dotty/30/000000/photo-editor.png">  Agregar Talleres </a>
          <a mat-list-item (click) = "onClickData('messagesWEB')" > <img src="https://img.icons8.com/wired/30/000000/email.png">  Email Pagina Web</a>
          <mat-divider></mat-divider>
          <a mat-list-item (click) = "onClickData('informationsAPP')" > <img src="https://img.icons8.com/dotty/30/000000/medical-mobile-app-2.png"> Informacion APP</a>
          <a mat-list-item (click) = "onClickData('messagesAPP')" > <img src="https://img.icons8.com/dotty/30/000000/mobile-email.png"> Preguntas APP</a>
          <mat-divider></mat-divider>
          <a mat-list-item (click) = "onClickData('products')" > <img src="https://img.icons8.com/material/24/000000/shopify--v2.png"/>Productos</a>
          <mat-divider></mat-divider>
          <a mat-list-item (click) = "onClickData('backup')" >Recuperar Informacion</a>
        </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="accent">
          <button
            type="button"
            mat-icon-button
            (click)="sidenav.open()" *ngIf="flagLogin"
            >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <div class="endAligButton" *ngIf="flagLogin">
            <button mat-button (click)="logOut()">Cerrar Session</button>
          </div>
        </mat-toolbar>
     <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>