.btnEmailWebc{
    text-align: right;
    margin-top: 2rem;
    margin-right: 0.5rem;
}
.subTitleWebc{
    margin-top: -1rem;
}

@media only screen and (max-width: 800px) {
    .subTitleWebc{
        margin-top: 0rem;
    }
}