<mat-tab-group>
<mat-tab label="Cargar Productos"> 
    <section>
        <div class="serchD">
           <mat-form-field appearance="outline" class="searchCompoProducts">
               <mat-label> Buscar Producto </mat-label>
               <input matInput placeholder="Buscar" [(ngModel)] = "datafilterProdcts">
            </mat-form-field>
            <button mat-raised-button color="accent"  class ="btnSearch" (click) ="openDialogNew()" >Nuevo</button>
        </div>
        <div class="cardWeball">
             <mat-card class="cardWebProdcts" *ngFor = "let item of webListProducts | filter:datafilterProdcts">
                     <mat-card-header>
                         <mat-card-title>{{item.name}}</mat-card-title>
                     </mat-card-header>
                     <mat-card-content>
                        <p style="text-align: right;" >
                            {{item.dateCharged | date:'fullDate'}}
                        </p>
                     </mat-card-content>
                     <mat-card-actions align="right">
                          <button mat-button (click) = onDeleteData(item) >Eliminar</button>
                          <button mat-button (click) = "updateDataDialog(item)">Actualizar</button>
                     </mat-card-actions>
             </mat-card>
        </div>
     </section>
</mat-tab>
<mat-tab label="Ordenes"> 

    <div class="serchD">
        <mat-form-field appearance="outline" class="searchCompoProducts">
            <mat-label> Buscar Orden </mat-label>
            <input matInput placeholder="Buscar" [(ngModel)] = "datafilterOrds">
         </mat-form-field>
    </div>

    <div class="cardWeball">
        <mat-card class="ordrs-card" *ngFor="let ords of ordsProduc | orderBy: date  | filter:datafilterOrds">
            <mat-card-header>
                <mat-card-title>Orden: #{{ords.order}}</mat-card-title>
                <mat-card-subtitle> <p> Status: {{ords.status}} </p>  <p>Fecha Compra: {{ords.date | date:'short'}} </p></mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="contentOrds">
                <div class="conteListOrds_1">
                    <p><b> Productos </b>:</p>
                    <mat-list *ngFor="let prd of ords.productsData">
                        <mat-list-item> {{prd.cantidadBuy}}x - {{prd.name}} -- {{prd.price | currency}}</mat-list-item>
                    </mat-list>
                </div>
                <mat-divider></mat-divider>
                    <div class="addressStreet">
                        <p> <b>Dirección de entrega</b>:</p>
                        <span style="padding-left: 20px;"> {{ords.address}} </span>
                    </div>
                <mat-divider></mat-divider>
                    <div class="billingdata">
                        <p><b>Datos del pago</b></p>
                        <div class="separatebilling">
                            <p>Nombre del comprador: {{ords.name}}</p>
                            <p>Estatus del pago: {{ords.statuspayment}} </p>
                            <p>Metodo de pago: {{ords.methopayment}}</p>
                        </div>
                    </div>
                <mat-divider></mat-divider>

                <p  style="text-align: end; margin-top: 42px;"> Total : {{ords.totalPay | currency}}</p>
                <button mat-raised-button color="accent" (click)="updateStatusOrdrs(ords)" [disabled]="ords.status == 'closed'">Cambiar estatus</button>
            </mat-card-content>
        </mat-card>
    </div>

</mat-tab>
</mat-tab-group>
 
 