.cardWebProdcts{
    width: 25%;
    height: 9rem;
    margin: 1rem;
    float: left;
}
.searchCompoProducts{
    width: 30%;
    margin-top: 20px;
    margin-left: 30px;
}
.ordrs-card{
    width: 30%;
    float: left;
    margin: 10px 30px;
}
.contentOrds{
    margin-top: 1rem;
}

.conteListOrds_1{
    height: 11rem;
    overflow: auto;
}
.addressStreet{
    margin-bottom: 25px;
}
.billingdata{
    padding: 2px 0px;
}

.separatebilling{
    padding: 0px 20px;
}

@media only screen and (max-width: 800px) {
    .cardWebProdcts{
        width: -webkit-fill-available;
        margin-right: 1rem;
    }
    .ordrs-card{
        width: 80%;
    }

    .searchCompoProducts {
        width: 65%;
    }
}