.allMessages{
    height: -webkit-fill-available;
}
.cardMsgContact{
    width: 50%;
    margin: 1rem;
    float: left;
}  
@media only screen and (max-width: 800px) {
    .cardMsgContact{
        width: -webkit-fill-available;
        margin-right: 1rem;
    }
}  
