<mat-tab-group>
  <mat-tab label="{{titleOnlineTurn}} "> 
    <div class="onlinesearch-content">
      <mat-form-field appearance="outline" class="searchinput">
        <mat-label>Buscar Persona</mat-label>
        <input matInput placeholder="Buscar" [(ngModel)] = "filterTurn">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="accent"  class ="btnSearch" (click) ="openPopUpChargedata()" >Nueva Persona</button>
   </div>
   <div class="card-tunrOnline">
    <mat-card class="styleTurnOnline" *ngFor = "let item of turnList | filter:filterTurn">
            <mat-card-header>
                <mat-card-title>{{item.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
               <p style="text-align: right;" >
                  {{item.ocupation }} 
               </p>
            </mat-card-content>
            <mat-card-actions align="right">
                 <button mat-button (click) = "onDeleteTurnOnline(item)" >Eliminar</button>
                  <button mat-button (click) = "onUpdateTurnOnline(item)">Actualizar</button>
              </mat-card-actions>
      </mat-card>
  </div>
</mat-tab>
<mat-tab label="{{titleOnlineTurnSecond}} ">

  <mat-card class="styleTurnOnline" *ngFor = "let shieft of shieftList">
      <mat-card-header>
          <mat-card-title>{{shieft.speciality}}</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: justify;">
        <p>
           <b> Nombre paciente:</b> {{shieft.nameChild }} 
        </p>
        <p>
            <b>Edad:</b>  {{shieft.ageChild }} 
       </p>
       <p>
          <b>Dia del turno:</b>  {{shieft.dateselect | date:'shortDate'}} a las: {{shieft.hourselect}}
       </p>
      </mat-card-content>
      <mat-card-actions align="right">
          <button mat-button (click) = "onDeleteTurnOnline(shieft)" >Eliminar</button>
            <button mat-button (click) = "onUpdateTurnOnline(shieft)">Actualizar</button>
      </mat-card-actions>
  </mat-card>

</mat-tab>

</mat-tab-group>

