.cardWeb{
    width: 25%;
    height: 9rem;
    margin: 1rem;
    float: left;
}
.searchCompo{
    width: 30%;
    margin: 1rem;
}
@media only screen and (max-width: 800px) {
    .cardWeb{
        width: -webkit-fill-available;
        margin-right: 1rem;
    }
}